.header .logo{
    float: left;
    margin-top:10px;
}
.header .navbar{
    float: left;
    margin-left: 20px;
}
.header .navbar li{
    position: relative;
    float: left;
    padding: 0 15px;
    height: 50px;
    transition:all .2s;
}
.header .navbar a:last-of-type li{
    background-color: rgb(172, 22, 46);
}
.header .navbar a.white:hover{
    color: #fff;
}
.header .navbar li:hover{
    background-color: rgb(172, 22, 46);
}
.header .navbar li.big{
    padding-right: 30px;
}
.header .navbar li .subnav{
    position: absolute;
    top:50px;
    left: 0;
    width: 105px;
    text-align: center;
    border: 2px solid rgb(172, 22, 46);
    border-top-width: 0;
    z-index: 9;
    display: none;  
}

.header .navbar li.big:hover .subnav{
    display: block;
    cursor: pointer;
}

.header .navbar li.big .subnav li{
    margin: 0;
    padding: 0;
    width: 105px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
}
.header .navbar li.big .subnav li>a{
    font-size: 12px;
}
.header #arrow{
    position: absolute;
    left: 82px;
    top: 23px;
    height: 0;
    border-width: 6px;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    transform-origin: 50% 25%;
    overflow: hidden;
}

.header .load{
    float: right;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
}
.header .load li a:hover{
    color: white;
    text-decoration: underline;
}
.header .load li{
    float:left;
    color: #fff;
    margin-right: 8px;
}

.position{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}

.content .nav{
    height: 39px;
    border-bottom: 3px solid #DA1F3D;
}
.content .nav .navbar{
    overflow: hidden;
    text-align: center;
}
.content .nav .navbar li{
    float: left;
    width: 120px;
    height: 39px;
    margin-right: 6px;
    line-height: 39px;
    text-align: center;
    font-size: 18px;
}

.content .nav .navbar li>a{
    color: #333;
}
.content .nav .navbar li>a:hover{
    color: #DA1F3D;
}

.content .nav .navbar li.sub{
    width: auto;
    margin: 0;
    padding: 0 6px;
    font-size: 16px;
}
.content .nav .navbar li.sub>a{
    color: #666;
}
.content .nav .navbar li.sub>a:hover{
    color: #DA1F3D;
}

.content .nav .now{
    background-color: #DA1F3D;
}
.content .nav .navbar .now a{
    color: #fff;
}
.content .nav .navbar .now a:hover{
    color: #fff;
}

.content>.main{
    border: 1px solid #ddd;
    margin-bottom: 16px;
}
.main>.detail{
    width: 988px;
    height: 80px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.main>.detail>div{
    float: left;
}

.throw{
    width: 400px;
    height: 80px;
}

.throw p{
    font-size: 12px;
    margin: 14px 14px 8px 14px;
}
.throw p>a{
    display: inline-block;
    margin-left: 26px;
}

.throw .box{
    margin-left: 14px;
    width: 100%;
    overflow:hidden;
}

.throw .circle{
    float: left;
    width: 272px;
    overflow: hidden;
}

.throw .circle li{
    float: left;
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(230, 69, 85);
    text-align: center;
    line-height: 32px;
    color: #fff;
}
.throw .circle li:last-of-type{
    margin-left: 5px;
    background-color: rgb(69, 126, 230);
}

.throw .box .btn{
    float: left;
    width: 105px;
    height: 32px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    background-color: #DA1F3D;
}
.main>.detail .open{
    margin: 5px 0;
    width: 140px;
    padding: 10px;
    padding-bottom: 0;
    height: 50px;
    border: 1px solid #bbb;
    border-width: 0 1px;
}
.main>.detail .open>div{
    float: left;
    margin-right: 10px;
}
.main>.detail .open a{
    font-family: SimSun;
}

.main>.detail .news{
    margin: 10px;
    font-family: SimSun;
    font-size: 12px;
}

.main .box1{
    width: 988px;
    height: 560px;
}
.box1 .left{
    float: left;
    width: 355px;
    height: 100%;
    margin-left:20px;
}

.box1 .left .news{
    margin: 30px 6px 0 0;
    padding-left: 6px;
    width: 355px;
}
.box1 .left .news .title{
    font-size: 16px;
    font-family: Microsoft Yahei;
    font-weight: bold;
}
.box1 .left .news .title>a.t{
    font-weight: bold;
    color: #c11125;
}
.box1 .left .news .title>a.t:hover{
    text-decoration: underline;
}

.box1 .left .news .news-list{
    margin-top: 20px;
    padding-left: 8px;
}
.box1 .left .news .news-list li{
    height: 28px;
}
.box1 .left .news .news-list li:before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 0 6px 4px 0;
    background-color: #000;
}

.box1 .right{
    float: right;
    width: 580px;
    height: 100%;
    margin-right: 10px;
}
.box1 .right .carousel{
    position: relative;
    float: left;
    margin-top: 30px;
    width: 580px;
    height: 270px;
     overflow: hidden; 
}

#circle-box{
    position: relative;
    width: 5000px;
    height: 100%;
    transition-duration: .5s;
}
#circle-box a{
    position: relative;
}
#circle-box a .text{
    position: absolute;
    bottom: 14px;
    left: 20px;
    font-size: 12px;
    color: #fff;
    z-index: 9;
}

.box1 .right .carousel .ban{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, .5);
}
#circle{
    position: absolute;
    right: 20px;
    top:12px;
}
#circle li{
    float: left;
    margin: 0 4px;
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
}
#circle li:first-of-type{
    background-color: #fff;
}


.box1 .right .expert{
    float: left;
    margin-top:20px;
    width: 280px;
    height: 228px;
}
.box1 .right .expert div{
    margin: 16px 0;
    width: 280px;
    height: 86px;
    font-size: 12px;
    line-height: 20px;
}
.box1 .right .expert div>img{
    float: left;
    margin: 0 10px 20px 0;
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.box1 .right .expert div span:first-of-type{
    font-size: 14px;
    font-weight: bold;
}
.box1 .right .expert div span:nth-of-type(2){
    color: #666;
}
.box1 .right .expert div span:nth-of-type(3){
    color: #333;
}
.box1 .right .expert .top{
    border-bottom: 1px solid #eee;
}
    
.box1 .right h1.t1{
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.box1 .right .hot{
    float: right;
    margin-top: 20px;
    width: 280px;
    margin-left: 10px;
}
.box1 .right .hot img{
    width: 280px;
    height: 90px;
    margin-top: 10px;
}
.box1 .right .hot .content{
    width: 238px;
    height: 73px;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-top-width: 0;
    margin-top: -4px;   
    color: #000;
    line-height: 30px;
}
.box1 .right .hot .content .small{
    font-size: 12px;
    color: #999;
}

.main .box2{
    width: 988px;
    height: 654px;
}
.box2 .left{
    float: left;
    width: 355px;
    height: 100%;
    margin-left:20px;
}
.box2 .left .infor{
    position: relative;
    float: left;
    padding-top: 10px; 
    width: 350px;
    height: 202px;
    border-top: 2px solid #333;
}

.box2 .left .infor .title{
    font-size: 18px;
    font-weight: normal;
}

.box2 .left .infor>p{
    position: absolute;
    top:10px;
    right: 10px;
}

.box2 .left .infor .infor-list{
    margin-top: 20px;
    padding-left: 20px;
}
.box2 .left .infor .infor-list li{
    list-style-type: disc;
    height: 28px;
}

.box2 .right{
    float: right;
    margin-right: 8px;
    width: 580px;
    height: 428px;
}

.box2 .right .detail{
    position: relative;
    float: left;
    width: 280px;
    height: 192px;
    padding: 20px 0 0 5px;
    color: #333;
    border-top: 2px solid #ccc;
}
.box2 .right .detail:nth-of-type(2n){
    margin-left:10px;
}

.box2 .right .detail .title{
    font-size: 15px;
}
.box2 .right .detail .pick{
    position: absolute;
    right: 0px;
    top: 22px;
    font-size:12px;
    font-family: SimSun;
}
.box2 .right .detail>p a{
    font-family: SimSun;
}

.box2 .right .detail .content{
    margin-top:10px;
    font-family: SimSun;
    font-size: 12px;
}

.box2 .right .detail2 .content .num{
    padding: 10px 0 0 20px;
    width: 280px;
    height: 80px;
    overflow: hidden;
}
.box2 .right .detail2 .content .pic{
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}
.box2 .right .detail2 .content .pic img{
    width: 55px;
    height: 55px;
    margin: 4px 12px;
}

.box2 .right .detail2 .link{
    float: left;
    margin:10px 0 0 -4px;
    width: 280px;
    padding: 2px 0;
    text-align: center;
    background-color: #eee;
}

.detail3 .pick div.tab{
    position: relative;
    float: left;
    margin-left: 10px;
    width: 53px;
    height: 28px;
    text-align: center;
    font-family: SimSun;
    line-height: 28px;
    border-bottom: 2px solid #eee;
}
.detail3 .pick div.tab.toggle,.detail3 .pick div.tab.toggle:hover{
    color: #da1f3d;
    border-bottom: 2px solid #da1f3d;
}
.detail3 .pick div.tab.toggle .arrow,.detail3 .pick div.tab.toggle:hover .arrow{
    border-color: transparent transparent #da1f3d;
}
.detail3 .pick div.tab:hover{
    color: #ff9228;
    border-bottom: 2px solid #ff9228;
}
.detail3 .pick div.tab:hover .arrow{
    border-color: transparent transparent #ff9228;
}

.detail3 .pick a div.tab .arrow,.detail4 .pick a div.tab .arrow{
    position: absolute;
    left: 22px;
    top: 20px;
    height: 0;
    width: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #eee;
}

.box2 .right .detail3 .content{
    position: absolute;
    top: 36px;
    left: 0;
    margin:30px 0 0 6px;
    width: 280px;
    display: none; 
}
.box2 .right .detail3 .content.main{
    display: block;
} 
.detail3 .box{
    margin-top:10px;
    width: 100%;
    overflow:hidden;
}

.detail3 .circle{
    float: left;
    width: 270px;
    overflow: hidden;
}

.detail3 .circle li{
    float: left;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(230, 69, 85);
    text-align: center;
    line-height: 32px;
    color: #fff;
}
.detail3 .circle li.blue{
    margin-left: 4px;
    background-color: rgb(69, 126, 230);
}
.detail3 .circle li input{
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

.detail3 .tip{
    margin-top:50px;
    text-align: center;
    padding: 2px 0;
    color: #333;
    background-color: #eee;
}
.detail3 .tip-cancle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.detail3 .btn{
    position: absolute;
    top: 94px;
    left: 0px;
    margin: 0;
    width: 280px;
    padding: 6px 0;
    background-color: #ff9228;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition-duration: .5s;
}

.detail4 .pick div.tab{
    position: relative;
    float: left;
    margin-left: 10px;
    width: 53px;
    height: 28px;
    text-align: center;
    font-family: SimSun;
    line-height: 28px;
    border-bottom: 2px solid #eee;
}
.detail4 .pick div.tab.toggle,.detail4 .pick div.tab.toggle:hover{
    color: #da1f3d;
    border-bottom: 2px solid #da1f3d;
}
.detail4 .pick div.tab.toggle .arrow,.detail4 .pick div.tab.toggle:hover .arrow{
    border-color: transparent transparent #da1f3d;
}
.detail4 .pick div.tab:hover{
    color: #ff9228;
    border-bottom: 2px solid #ff9228;
}
.detail4 .pick div.tab:hover .arrow{
    border-color: transparent transparent #ff9228;
}

.box2 .right .detail4 .content{
    position: absolute;
    top: 36px;
    left: 0;
    margin:30px 0 0 8px;
    width: 280px;
    display: none; 
}
.box2 .right .detail4 .content.main{
    display: block;
} 
.detail4 .content span.red{
    font-family: SimSun; 
    color: #da1f3d;
}

.box2 .bottom{
    float: right;
    margin-right: 8px;
    width: 580px;
    padding:10px 0 0 5px;
    border-top: 2px solid #333;
}
.box2 .bottom h1.t1{
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

.box2 .bottom img{
    margin-top:16px;
    width: 282px;
    height: 145px;
}
.box2 .bottom a:first-of-type img{
    margin-right:8px;
    /* margin-right: 2px; */
}

.footer .top{
    overflow: hidden;
}

.footer .top img{
    float: left;
    margin:25px 36px 0 0;
}
.footer .help{
    float: left;
    margin-top:25px;
    width: 145px;
    height: 140px;
    padding: 5px 80px 0 20px;
    border-left: 1px solid #D7D7D7;
}
.footer .help b{
    font-size: 15px;
    color: #666;
}

.footer .help b::before{
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    margin-bottom: -2px;
    background-color: #da1f3d;
}
.footer .help ul{
    margin-top:10px;  
}
.footer .help li{
    margin-bottom: 8px;
    line-height: 20px;
    vertical-align: middle;
}
.footer .help li:before{
    content: " ";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #DA1F3D;
}

.footer .nav{
    width: 220px;
    margin: 0 auto;
    margin-top:50px;
    font:12px;
}
.footer .nav a{
    color: #0B71A2;
    font-size: 12px;
}

.footer .yaoyaoling{
    margin-top: 10px;
    text-align: center;
}
.footer .yaoyaoling img{
    display: inline-block;
}
.footer p.copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    font-family: Microsoft Yahei;
}
.footer p.tip{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #999;
    font-family: Microsoft Yahei;
}