.left{
    float: left;
    width: 730px;

}
.picChange{
    float: left;
    width: 350px;
}

.right{
    float: right;
}
.content{
    overflow: hidden;
}
.addit{
    position: absolute;
    left:300px;
}